<%- include('../partials/header') %>

<section id="patient-portal">

<div id="patient-notes">

  <div class="note" id="new-note">
    <div class="note-header">
      <h3 class="note">Add A New Note</h3>
    </div>

    <form action="/patients/<%= patient._id %>/notes" method="POST" id="new-note">
      <textarea name="note" id="new-note"></textarea> <br>
      <button type="submit" id="new-note">Save</button>
    </form>
  </div>

<% if (patient.notes.length) { %>
  <% patient.notes.forEach(function(n) { %>
    <div class="note">
      <div class="note-header">
        <h3 class="note"> <%= n.updatedAt.toLocaleString(); %> </h3>
          <% if (user && user._id.equals(n.user)) { %>
            <div class="toolbar">
              <button class="edit" onclick="editNote('<%= n._id %>')"><img src="/img/edit.png" alt="edit note"></button>
              <form action="/notes/<%= n._id %>?_method=DELETE" method="POST" class="delete">
                <button type="submit" class="delete"><img src="/img/delete.png" alt="delete" class="delete note"></button>
              </form>
            </div>
      </div>
<% } %> <br>
      <div class="edit-note" id="<%= n._id %>" style="display: none">
        <form action="/notes/<%= n._id %>?_method=PUT" method="POST">
          <textarea class ="edit-note" name="text"><%= n.note %></textarea><br>
          <button type="submit">Edit Note</button>
        </form>
      </div>
        <p class="note"> <%= n.note %> </p> <br> <br>
    </div>

    <% }); %>
  <% } %>

</div>

<div id="patient-profile">
  <h3 id="patient-info">Patient Profile</h3>
    <div class="patient-info">
      <h4  class="patient-key">Name</h4>
      <p class="patient-value"><%= patient.firstName + " " + patient.lastName %></p>
    </div>
    <div class="patient-info">
      <h4  class="patient-key">Birth Date</h4>
      <p class="patient-value"><%= patient.birthDate.toLocaleString().split(',')[0]; %></p>
    </div>
    <div class="patient-info">
      <h4  class="patient-key">Height</h4>
      <p class="patient-value"><%=patient.height %></p>
    </div>
    <div class="patient-info">
      <h4  class="patient-key">Weight</h4>
      <p class="patient-value"><%=patient.weight %></p>
    </div>
    <div class="patient-info">
      <h4  class="patient-key">Blood Type</h4>
      <p class="patient-value"><%=patient.bloodType %></p>
    </div>
</div>

<div id="patient-medications">
<% patient.medications.forEach(function(m) { %>
  <div class="medication-card">
    <div class="medication-header">
      <h3 class="medication-header"><%= m.name %></h3>
      <% if (user && user._id.equals(m.user)) { %>
        <form action="/medications/<%= m._id %>?_method=DELETE" method="POST" class="delete">
          <button type="submit" class="delete">
            <img src="/img/delete.png" alt="delete" class="delete">
          </button>
        </form>
      </div>
      <% } %>
    <div class="medication-info">
      <h4  class="medication-key">Dosage</h4>
      <p class="medication-value"><%= m.dosage %></p>
    </div>
    <div class="medication-info">
      <h4 class="medication-key">Frequency</h4>
      <p class="medication-value"><%= m.frequency %></p>
    </div>
    <div class="medication-info">
      <h4 class="medication-key">Notes</h4>
      <p class="medication-value"><%= m.notes %></p>
    </div>
  </div>
    <% }); %>

<div class="medication-card">
  <div class="medication-header">
    <h3 class="medication-header">Add New Medication</h3>
    <form action="/patients/<%= patient._id %>/medications" method="POST" id="new-note">
  </div>
  <div class="medication-info">
      <h4  class="medication-key">Name</h4>
      <p class="medication-value"><input type="text" name="name"></p>
  </div>
  <div class="medication-info">
      <h4  class="medication-key">Dosage</h4>
      <p class="medication-value"><input type="text" name="dosage"></p>
  </div>
  <div class="medication-info">
      <h4  class="medication-key">Frequency</h4>
      <p class="medication-value"><input type="text" name="frequency"></p>
  </div>
  <div class="medication-info">
      <h4  class="medication-key">Notes</h4>
      <p class="medication-value"><input type="text" name="notes"></p>
  </div>

    <button type="submit" id="add-medication">Add Medication</button>

  </form>

  </div>

</div>

</section>

<%- include('../partials/footer') %>
