<%- include('../partials/header') %>

<div id="patient-notes">

  <h2>Notes</h2>

  <% if (patient.notes.length) { %>

    <% patient.notes.forEach(function(n) { %>
    <h3 class="note"> <%= n.updatedAt.toLocaleString(); %> </h3> <br>
    <p class="note"> <%= n.note %> </p> <br> <br>
    <p>
      <% if (user && user._id.equals(n.user)) { %>
        <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      <% } %>
    </p>
    <% }); %>
    <% } %>


  <h2>Add A New Note</h2>

  <form action="/patients/<%= patient._id %>/notes" method="POST" id="new-note">
    <label>
      Note
      <textarea name="note" id="new-note" cols="30" rows="10"></textarea>
    </label> <br>
  
    <button type="submit">Create New Note</button>
  
  </form>

</div>

<%- include('../partials/footer') %>
